body {
  /* here we use our main typeface and set it on our body tag */
  font-family: "Cardo", georgia, serif;
  font-size: 18px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

/* wherever we use cardo class, we get cardo font */
.cardo {
  font-family: "Cardo", georgia, serif;
}

.archivo {
  font-family: "Archivo Black", sans-serif;
}

.tenor {
  font-family: "Tenor Sans", sans-serif;
}

.hero-heading,
.hero-subhead {
  font-size: 64px;
}

.hero-heading {
  letter-spacing: 0.05em;
}

.hero-content {
  max-width: 750px;
}
